body {
    background-color: #107ABB;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
    display: inline-block;
    width: 30%;
    background-color: #D5DBDE;
    width: 230px;;
    padding: 1%;
    margin: 1%;
    border-radius: 25px;
    border: 1px solid black;
    z-index: 3;
}

.task_list {
    background-color: #DDE2E3;
    padding: 1%;
    width: 20%;
    margin: 5%;
}

.hide {
    display: none;
}

.hovered {
    background: rgb(19, 255, 150, 0.5)
}

.task_list_header {
    text-align: center;
}

.new_item {
    position: relative;
    left: 70%;
    padding: 1%;
    background-color: teal;
    color: whitesmoke
}

.todo::after {
    content: "+ Добавить";
    position: relative;
    left: 20%
}