body {
    background-color: #107ABB;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
    display: inline-block;
    width: 30%;
    background-color: #D5DBDE;
    width: 40vh;
    padding: 1%;
    margin: 1%;
    border-radius: 25px;
    border: 1px solid black;
}

.task_list {
    background-color: #DDE2E3;
    padding: 1%;
    width: 20%;
    margin: 5%;
}

.hide {
    display: none;
}

.hovered {
    background: rgb(19, 255, 150, 0.5)
}