body {
    background-color: #107ABB;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
    display: inline-block;
    width: 30%;
    background-color: #D5DBDE;
}

.task_box {
    width: 20%;
    background-color: #D5DBDE;
}

.task_box__header {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task_card {
    background-color: #ffffff;
    border-radius: 20px;
    width: 220px;
    margin: 4px;
    padding: 1%;
    cursor: grab;

}

.dragged {
    position: absolute;
    cursor: grabbing;
    z-index: 9999;
}

.hide {
    display: none;
}

.hovered {
    background-color: #d1d8e2;
}

.dropzone {
    background: linear-gradient(#eee, transparent);
    border-radius: 4px;
}